<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Categoria</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrarForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion"></ion-input>
    </ion-item>
   
    
    <ion-button expand="full" type="submit">Actualizar</ion-button>
  </form>
</ion-content>
